body {
    padding: 0;
    font-size: 11px;
    font-family: Tahoma, Arial, Verdana, sans-serif, 'Lucida Sans';
    line-height: 1.2;
}

.listing {
    list-style: square;
    padding-left: 30px;
    margin: 0 0 15px;
    line-height: 130%;
}

    .listing img {
        vertical-align: middle;
    }

label {
    font-size: 11px;
    line-height: 1.2;
    font-weight: normal;
}

#wrap {
    width: 760px;
    margin: auto;
    padding: 0;
}

.left_side {
    width: 480px;
}

.right_side {
    width: 240px;
}

.header_dark_on_white {
    background-color: #DEE5EB;
    color: #45688E;
    padding: 6px 8px;
    font-weight: bold;
}

.spinner {
    width: 100px;
    height: 100px;
    top: 120px;
    left: 50%;
    background: url(../Images/ajaxloader.gif) no-repeat center;
    text-align: center;
    padding: 10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 4000;
    overflow: auto;
    display: none;
}

.small {
    text-decoration: underline;
    font-size: 10px;
    font-weight: normal;
}

input.text {
    border: 1px solid #C0CAD5;
    padding: 3px;
    margin: 0;
}

textarea {
    padding: 3px;
    margin: 0;
    outline: none;
    resize: none; /*for Google Chrome*/
    overflow: auto;
    overflow-x: hidden;
    line-height: 15px;
    font-size: 12px;
    width: 480px;
    border: 1px solid #DAE2E8;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #DAE2E8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        /* IE6-9 */
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    }


.flow_text_ready_class {
    word-wrap: break-word;
    font-size: 12px;
    line-height: 15px;
    padding: 3px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #DAE2E8;
}

.text_battle_flow_block {
    height: 240px;
    width: 480px;
    *height: 248px;
    *width: 488px;
}

.textwrapper {
    padding-right: 9px;
}

.radiobtn {
    border-top: 1px solid #E7EAED;
    padding: 12px 6px;
    clear: both;
    cursor: pointer;
    color: #2B587A;
    line-height: 14px;
    height: 15px;
}

    .radiobtn div {
        float: left;
        width: 15px;
        margin-right: 5px;
        height: 14px;
        margin-bottom: 1px;
        background: url(../Images/radio.gif) 0 0 no-repeat;
    }

    .radiobtn:hover div {
        background-position: 0 -28px;
    }

.radiobtn_hover div {
    background-position: 0 -28px;
}

.radiobtn.on div {
    background-position: 0 -14px;
}

.radiobtn.on:hover div {
    background-position: 0 -42px;
}

.radiobtn.on.radiobtn_hover div {
    background-position: 0 -42px;
}

.main_menu {
    width: 760px;
    display: table;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    background-color: #5D81A7;
}

    .main_menu td, th {
        width: 253px;
        display: table-cell;
        vertical-align: inherit;
        white-space: nowrap;
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: #369;
    }

.top_nav_link {
    display: block;
    padding: 8px;
    margin: 0;
    font-size: 11px;
    color: #E8EFF7;
    text-shadow: 0 1px 0 #416389;
    font-weight: bold;
    cursor: pointer;
}

    .top_nav_link span {
        font-weight: normal;
    }

    .top_nav_link:hover {
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        text-decoration: none;
    }

.font_bold {
    font-weight: bold;
}

#bottom_nav {
    text-align: center;
    font-size: 10px;
    border-top: 2px solid #D9E0E7;
    margin-top: 8px;
}

    #bottom_nav a {
        display: inline-block;
        padding: 3px 5px;
        text-decoration: underline;
    }

        #bottom_nav a:hover {
            background-color: #ddd;
        }

.fixed {
    position: fixed;
}

#system_msg {
    display: none;
    font-size: 11px;
    color: red;
    background-color: #fff;
    padding: 4px 10px;
    height: 15px;
    z-index: 5000;
    border: 1px solid red;
}

.header_link {
    font-size: 16px;
    background-color: #517597;
    width: 176px;
    padding: 16px 12px;
    font-weight: normal;
    cursor: pointer;
    color: #F9F9F9;
    font-variant: small-caps;
    letter-spacing: 1px;
}

    .header_link:hover {
        background-color: #3F6283;
        color: #fff;
    }

#event_msg_block {
    background-color: #F9F6E7;
    border: 1px solid #D4BC4C;
    padding: 8px 11px;
    margin: 10px;
    display: none;
}

    #event_msg_block .cancel_event_msg {
        float: right;
        border-left: 1px solid #D4BC4C;
        padding-left: 5px;
    }

.priz_block {
    margin-top: 15px;
}

    .priz_block p {
        text-indent: 20px;
        padding-bottom: 5px;
    }


.out_window_class {
    top: 130px;
    left: 40px;
    z-index: 998;
}

.flow_window_class {
    top: 170px;
    left: 90px;
    z-index: 999;
}

.show_window {
    width: 500px;
    position: absolute;
    padding: 0;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    border: 3px solid #36638E;
}



    .show_window .out_content_class {
        padding: 5px 10px;
        text-align: justify;
        overflow: auto;
        overflow-x: hidden;
        height: 370px;
    }

        .show_window .out_content_class p {
            text-indent: 8px;
            line-height: 130%;
        }

    .show_window .out_header_class {
        background-color: #36638E;
        color: #FFF;
        padding: 3px 5px 5px 3px;
        cursor: move;
    }

        .show_window .out_header_class .out_header_name_class {
            display: inline-block;
            font-weight: bold;
        }

        .show_window .out_header_class a {
            display: inline-block;
            color: #fff;
        }

.table_rating_class {
    width: 100%;
    margin: 0;
    border: 1px solid #D9E0E7;
}

    .table_rating_class th {
        padding: 5px;
        width: auto;
        text-align: center;
        color: #fff;
    }

    .table_rating_class td {
        padding: 5px;
        vertical-align: top;
        border: 1px solid #D9E0E7;
        width: auto;
    }

.playoff_tbl {
    width: 740px;
    margin: auto;
    border: 1px solid #D9E0E7;
}

    .playoff_tbl th {
        width: auto;
        border: 1px solid #D9E0E7;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }

        .playoff_tbl th div {
            padding: 5px;
            position: relative;
        }

        .playoff_tbl th a {
            color: #fff;
            font-weight: normal;
        }

    .playoff_tbl td {
        border: 1px solid #D9E0E7;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }

.th_link {
    color: #eee;
    font-weight: normal;
    cursor: pointer;
    border-bottom: 1px dashed #eee;
}

    .th_link:hover {
        color: #fff;
    }

.tt_block {
    width: 114px;
    padding: 3px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.complete_battles_wrap {
    border: 1px solid #36638E;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    padding: 3px 0;
    height: 60px;
}

ol.rating_list {
    list-style-type: decimal;
    list-style-position: inside;
    word-wrap: break-word;
}

    ol.rating_list li {
        margin-top: 2px;
    }

.block_style {
    background-color: #F7F7F7;
    padding: 10px 5px;
    line-height: 150%;
    text-align: center;
    border: 1px solid #DAE2E8;
}

.rating_comment {
    height: 120px;
    width: 240px;
    font-size: 11px;
}

.beat_makers_list {
    text-align: center;
    list-style-type: none;
}

    .beat_makers_list li {
        display: inline-block;
        padding: 8px;
        cursor: pointer;
        color: #939;
        text-decoration: none;
        border: 1px solid #f1f1f1;
    }

        .beat_makers_list li:hover {
            background-color: #939;
            color: #fff;
        }

.inline_links div {
    text-align: center;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

    .inline_links div:hover {
        background-color: #E1E7ED;
    }

.header_white_on_blue {
    text-align: center;
    background-color: #36638E;
    color: #fff;
    padding: 3px;
}

    .header_white_on_blue a {
        color: #fff;
    }

#text_battle_rating_string {
    margin-bottom: 6px;
}

    #text_battle_rating_string span {
        padding: 2px;
        border: 1px solid #444;
        border-radius: 4px;
        color: #444;
    }

.backlight {
    font-weight: bold;
    text-shadow: #369 1px 1px 2px, #fff 0 0 1em;
}

.battle_block {
    padding: 2px;
    width: 100%;
    /*display: inline-block;*/
    cursor: pointer;
    border: 1px solid #ccc;
    border-top-width: 0;
    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #517597 100%);
    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #517597 100%);
    /* Opera */
    background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #517597 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #517597));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #517597 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #517597 100%);
    color: #2b587a;
}

    .battle_block:hover {
        /* IE10 Consumer Preview */
        background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #3C5770 100%);
        /* Mozilla Firefox */
        background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #3C5770 100%);
        /* Opera */
        background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #3C5770 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #3C5770));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #3C5770 100%);
        /* W3C Markup, IE10 Release Preview */
        background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #3C5770 100%);
    }

.img_link_user {
    background-image: url(../Images/iel.png);
    width: 12px;
    height: 12px;
    border-width: 0;
}

.setting_block {
    padding: 10px;
    background-color: #F1F1F1;
    border: 1px solid #fff;
}

.comment_list {
}

.comment_list_for_battle {
    border: 2px solid #DAE2E8;
    height: 300px;
    overflow: auto;
}

.comment_unit {
    border-top: 1px solid #DAE2E8;
}

    .comment_unit .comment_rating {
        background-color: #DAE2E8;
        color: #45688E;
        margin-left: 8px;
        width: 50px;
        text-align: center;
    }

    .comment_unit .comment-top {
        padding: 3px;
    }


.comment_icons {
    color: #777;
    font-size: 10px;
    height: 10px;
    width: 10px;
    opacity: 0.2;
    cursor: pointer;
    margin-top: 2px;
}

.comment_icons_complain {
    background-image: url(../Images/exclamation_red.png);
}


.comment_icons_thanks {
    background-image: url(../Images/ok.png);
}

.comment_unit:hover .comment_icons {
    opacity: 1;
}

/*.comment_icons:hover {
    opacity: 1;
}*/

.clearfix {
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fl_cl {
    clear: both;
}

.itog_rating {
    text-align: center;
    border: 1px solid #5E80A5;
    color: #fff;
    padding: 6px 0;
    font-size: 14px;
    background-color: #5E80A5;
    display: inline-block;
    width: 30px;
    border-radius: 4px;
}

.itog_rating_up {
    text-align: center;
    border: 1px solid #5E80A5;
    color: #fff;
    padding: 1px 0;
    background-color: #5E80A5;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #aaa;
}


.itog_rating_down {
    text-align: center;
    border: 1px solid #5E80A5;
    color: #fff;
    padding: 1px 0;
    background-color: #5E80A5;
    border-radius: 0 0 3px 3px;
}

.upload_progress {
    width: 32px;
    height: 8px;
    background-image: url(../Images/upload.gif);
    margin: auto;
    overflow: hidden;
}

.itog_sign {
    height: 16px;
    width: 16px;
    /*position: absolute;
    top: 8px;
    left: 8px;*/
    cursor: pointer;
}

.itog_plus {
    background-image: url(../Images/plus_sign.png);
}

.itog_minus {
    background-image: url(../Images/minus_sign.png);
}

.settings_icon {
    background-image: url(../Images/settings.png);
    width: 16px;
    height: 16px;
    display: block;
}

.battle_part_menu {
    display: inline-block;
    padding: 8px 4px;
    color: #555;
    text-align: center;
    width: 80px;
    background-color: #f1f1f1;
    cursor: pointer;
}

    .battle_part_menu:hover {
        color: #444;
        background-color: #ccc;
    }

#round_date {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
}

.ext_text_battle {
    display: none;
    padding: 10px 10px 0 10px;
}

.ext_audio_battle {
    display: none;
    padding: 10px 10px 0 10px;
}

.ext_beat_battle {
    display: none;
    padding: 10px 10px 0 10px;
}

.gradient_fill {
    background-image: -moz-linear-gradient(top, #000, #639 100px, #639 100px, #fff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.5, #639), color-stop(0.5, #639), to(#fff));
    background: -webkit-linear-gradient(top, #000, #639 100px, #639 100px, #fff);
    background: -o-linear-gradient(top, #000, #639 100px, #639 100px, #fff ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000, #639 100px, #639 100px, #fff); /* IE10 */
    background: linear-gradient(top, #000, #639 100px, #639 100px, #fff); /* CSS3 */
}





.right_arrow_wrap {
    border: 1px solid #517597;
    padding: 4px 6px;
    width: 12px;
    cursor: pointer;
    background-color: #517597;
    border-radius: 4px;
}

    .right_arrow_wrap .right_arrow {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 8px solid #fff;
        background-color: #517597;
        margin-left: 2px;
    }

    .right_arrow_wrap .prepause {
        width: 2px;
        height: 12px;
        background-color: #fff;
    }

    .right_arrow_wrap .pause_img {
        width: 2px;
        height: 12px;
        border-right: 4px solid white;
        border-left: 4px solid white;
        background-color: #517597;
    }


/*border: 1px solid #517597;
padding: 4px 6px;
width: 10px;
cursor: pointer;

background-color: #517597;
border-radius: 4px;


width: 2px;
height: 11px;
border-left: 4px solid white;
background-color: #517597;
border-right: 4px solid white;*/


div.jzoom {
    width: 75px;
    height: 75px;
    position: relative;
    margin: 16px 25px;
}

    div.jzoom img {
        position: relative;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 75px;
        height: 75px;
    }

    div.jzoom:hover {
        overflow: visible;
        visibility: hidden;
    }

        div.jzoom:hover img {
            visibility: visible;
            position: absolute;
            z-index: 150;
        }

.puch_wrap {
    width: 116px;
    margin: 0 2px;
}

.puch {
    text-align: center;
    padding: 3px 1px;
    background-color: #444;
    cursor: pointer;
    color: #888;
}

    .puch:hover {
        background-color: #ccc;
    }

.under_dashed {
    cursor: help;
    border-bottom: 1px dashed #777;
}

.top_users_rating_block {
    border-bottom: 1px solid #DCE3E9;
}

    .top_users_rating_block:hover {
        background-color: #f1f1f1;
    }

.bottom_str {
    padding: 4px 0;
    margin-left: 6px;
    margin-right: 6px;
}

    .bottom_str span {
        text-decoration: none;
        padding: 2px 6px;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        border-top-color: #7C98BA;
        border-right-color: #5C80A9;
        border-bottom-color: #5C80A9;
        border-left-color: #7C98BA;
        background-color: #6D8DB1;
        text-shadow: 0px 1px 0px #4B688B;
        border-radius: 1px;
        cursor: pointer;
    }

        .bottom_str span:hover {
            background-color: #5E80A5;
        }

.gray_panel {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 4px 0;
}


.bb_tag_list {
    border: 1px dashed #f1f1f1;
    text-align: center;
}

    .bb_tag_list div {
        cursor: pointer;
        margin: 2px;
        padding: 2px 4px;
        display: inline-block;
        border: 1px dashed #ccc;
    }

        .bb_tag_list div:hover {
            background-color: #ccc;
        }

.checked_tag {
    background-color: #939;
    border: 1px solid #939;
    color: #fff;
}

.link_view {
    cursor: pointer;
    color: #2B587A;
    text-decoration: none;
    border-bottom: 1px dashed #aebbed;
}

    .link_view:hover {
        color: #233186;
        border-bottom: 1px dashed #2B587A;
    }

*[draggable=true] {
    -moz-user-select: none;
    -khtml-user-drag: element;
}

*:-khtml-drag {
    background-color: rgba(238,238,238, 0.5);
}

.judging_claim {
    font-size: 10px;
    margin-left: 4px;
}

.uchastnik_number {
    padding: 6px;
    color: #000;
    font-weight: bold;
}



.af_table td {
    text-align: center;
    padding: 5px;
}

.copy_track_link {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-shadow: #0d0b41 2px 2px 4px;
}

.tooltip {
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: #dedede;
    padding: 5px;
    border: 1px solid #fff;
    width: 250px;
}

    .tooltip p {
        margin: 0;
        padding: 0;
        color: #fff;
        background-color: #222;
        padding: 2px 7px;
    }

.counter_view {
    border: 1px solid #ADBCCB;
    background: #EDF2F6;
    padding: 2px 5px 4px;
    font-weight: bold;
    color: #2B587A;
    text-shadow: 0 1px 0px white;
    cursor: pointer;
    line-height: 13px;
    text-align: center;
    border-radius: 2px;
}

.left_arrow {
    background: url(../Images/icons/arrow_icons.gif) 0 -32px no-repeat;
    position: absolute;
    width: 5px;
    height: 9px;
    overflow: hidden;
    margin-left: -10px;
    margin-top: 3px;
}

.battle_top_string {
    color: #e5e5e5;
    padding: 8px 10px;
    line-height: 120%;
    cursor: pointer;
}

    .battle_top_string:hover {
        color: #fff;
    }

.max_uch_status_block {
    text-align: center;
    margin-top: 12px;
    background-color: #fefefe;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
}

.audiojs {
    background: #517597;
    height: 32px;
    box-shadow: none;
    width: 540px;
}

    .audiojs .play-pause {
        border-right: 1px solid #517597;
    }

    .audiojs .time {
        border-left: 1px solid #517597;
    }

    .audiojs .scrubber {
        width: 370px;
    }


.ellipsis_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divider {
    color: #777;
    padding: 0px 5px;
}

.lk_materials {
    max-height: 1400px;
    overflow: auto;
    overflow-x: hidden;
}

    .lk_materials .material_div {
        padding: 4px 8px;
        border-bottom: 1px solid #E7EAED;
        cursor: pointer;
    }

        .lk_materials .material_div:hover {
            background-color: #f1f1f1;
        }

.popup__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    text-align: center;
    z-index: 9999;
    padding: 30px 0;
}

    .popup__overlay:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: top;
        content: '';
    }

/* Added for IE<9 compatibility */
.popup__overlay_ie {
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 10px 20px 20px 20px;
    /*border: 5px solid #fff;*/
    /*box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);*/
    background: #fff;
    /*vertical-align: middle;*/
}
/* Added instead of :after pseudoelement */
.popup__valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.materials_headers {
    width: 76px;
    cursor: pointer;
    background-color: #F7F7F7;
    border: 1px solid #DAE1E8;
    border-top: 0;
}

    .materials_headers .materials_headers_title {
        margin: 4px 0;
        text-align: center;
    }

        .materials_headers .materials_headers_title span {
            border-bottom: 1px dashed #45688E;
            color: #45688E;
        }

    .materials_headers:hover {
        background-color: #C0CAD5;
    }

    .materials_headers .not_open_counter {
        text-align: center;
        margin: 4px;
        color: #B61039;
    }

.book_pile_item {
    border-width: 1px 3px;
    border-style: solid;
    border-color: #2B587A;
    border-right-color: #fff;
    border-radius: 8px 0 0 8px;
    width: 110px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    background-color: #f7f7f7;
}

    .book_pile_item:hover {
        background-color: #f1f1f1;
    }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #fcfcfc;
}

.header-block-light {
    background-color: #F7F7F7;
    font-weight: bold;
    border: 1px solid #DAE1E8;
    color: #333;
}

.three-center {
    width: 210px;
    text-align: center;
    padding: 0 5px;
}

.three-side {
    width: 260px;
}

.theme-block {
    margin: 4px 8px;
    border: 3px double #aaa;
    text-align: center;
    padding: 0 16px 2px 16px;
    display: inline-block;
}

.pad-wrap {
    padding: 8px 4px 4px 4px;
    border: 1px solid #DEE5EB;
    text-align: center;
}

.round-date {
    border: 1px dashed #DEE5EB;
    padding: 3px;
    color: #555;
    text-align: center;
    display: inline-block;
    width: 160px;
}


.btn-primary {
    background-color: #006dcc;
    *background-color: #3f6283;
    background-image: -moz-linear-gradient(top, #6D8DB1, #3f6283);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6D8DB1), to(#3f6283));
    background-image: -webkit-linear-gradient(top, #6D8DB1, #3f6283);
    background-image: -o-linear-gradient(top, #6D8DB1, #3f6283);
    background-image: linear-gradient(to bottom, #6D8DB1, #3f6283);
    border-color: #3f6283 #3f6283 #002a80;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6D8DB1', endColorstr='#ff3f6283', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        background-color: #3f6283;
        *background-color: #003bb3;
    }

    .btn-primary:active,
    .btn-primary.active {
        background-color: #003399 \9;
    }
